[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = util.php is a collection of useful functions and snippets that you need or could use every day, designed to avoid conflicts with existing projects
[access "refs/*"]
	owner = group user/Manoj (ManojKamat)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Manoj (ManojKamat)
	label-Verified = -1..+1 group user/Manoj (ManojKamat)
	push = group user/Manoj (ManojKamat)
	read = group user/Manoj (ManojKamat)
	rebase = group user/Manoj (ManojKamat)
	removeReviewer = group user/Manoj (ManojKamat)
	submit = group user/Manoj (ManojKamat)
[access "refs/heads/*"]
	create = group user/Manoj (ManojKamat)
	push = +force group user/Manoj (ManojKamat)
	pushMerge = group user/Manoj (ManojKamat)
	read = group user/Manoj (ManojKamat)
[access "refs/tags/*"]
	push = group user/Manoj (ManojKamat)
	push = +force group user/Manoj (ManojKamat)
